// ==========================================
// MOVIE KINGS — Main (entry point)
// ==========================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; // Évite tout scroll horizontal parasite
}

@import 'variables';
@import 'normalize';
@import 'layout';
@import 'hero';
@import 'sections';
@import 'footer';
@import 'modal';
@import 'quiz';
